.kaishi_class {
	font-size:14px;
	font-family:Arial Black;
	font-weight:normal;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:0px solid #337fed;
	padding:4px 12px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(45%, #3d94f6), color-stop(60%, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 45%, #1e62d0 60% );
	background:-ms-linear-gradient( top, #3d94f6 45%, #1e62d0 60% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #1570cd;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	-moz-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	box-shadow:inset 1px 1px 0px 0px #97c4fe;
}.kaishi_class:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(45%, #1e62d0), color-stop(60%, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 45%, #3d94f6 60% );
	background:-ms-linear-gradient( top, #1e62d0 45%, #3d94f6 60% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.kaishi_class:active {
	position:relative;
	top:1px;
}
.shezhi_class {
	font-size:16px;
	font-family:Arial Black;
	font-weight:normal;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:0px solid #337fed;
	padding:4px 12px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(45%, #3d94f6), color-stop(60%, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 45%, #1e62d0 60% );
	background:-ms-linear-gradient( top, #3d94f6 45%, #1e62d0 60% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #1570cd;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	-moz-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	box-shadow:inset 1px 1px 0px 0px #97c4fe;
}.shezhi_class:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(45%, #1e62d0), color-stop(60%, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 45%, #3d94f6 60% );
	background:-ms-linear-gradient( top, #1e62d0 45%, #3d94f6 60% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.shezhi_class:active {
	position:relative;
	top:1px;
}

.jieshu_class {
	font-size:16px;
	font-family:Arial Black;
	font-weight:normal;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:0px solid #337fed;
	padding:4px 12px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(45%, #3d94f6), color-stop(60%, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 45%, #1e62d0 60% );
	background:-ms-linear-gradient( top, #3d94f6 45%, #1e62d0 60% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #1570cd;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	-moz-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	box-shadow:inset 1px 1px 0px 0px #97c4fe;
}.jieshu_class:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(45%, #1e62d0), color-stop(60%, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 45%, #3d94f6 60% );
	background:-ms-linear-gradient( top, #1e62d0 45%, #3d94f6 60% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.jieshu_class:active {
	position:relative;
	top:1px;
}
.zanting_class {
	font-size:16px;
	font-family:Arial Black;
	font-weight:normal;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:0px solid #337fed;
	padding:4px 12px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(45%, #3d94f6), color-stop(60%, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 45%, #1e62d0 60% );
	background:-ms-linear-gradient( top, #3d94f6 45%, #1e62d0 60% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #1570cd;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	-moz-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	box-shadow:inset 1px 1px 0px 0px #97c4fe;
}.zanting_class:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(45%, #1e62d0), color-stop(60%, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 45%, #3d94f6 60% );
	background:-ms-linear-gradient( top, #1e62d0 45%, #3d94f6 60% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.zanting_class:active {
	position:relative;
	top:1px;
}

.xinzengyangpin_class {
	font-size:16px;
	font-family:Arial Black;
	font-weight:normal;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	border:0px solid #337fed;
	padding:4px 12px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(45%, #3d94f6), color-stop(60%, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 45%, #1e62d0 60% );
	background:-ms-linear-gradient( top, #3d94f6 45%, #1e62d0 60% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #1570cd;
 	-webkit-box-shadow: 1px 1px 0px 0px #97c4fe;
 	-moz-box-shadow: 1px 1px 0px 0px #97c4fe;
 	box-shadow: 1px 1px 0px 0px #97c4fe;
}.xinzengyangpin_class:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(45%, #1e62d0), color-stop(60%, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 45%, #3d94f6 60% );
	background:-ms-linear-gradient( top, #1e62d0 45%, #3d94f6 60% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.xinzengyangpin_class:active {
	position:relative;
	top:1px;
}

.jixu_class {
	font-size:16px;
	font-family:Arial Black;
	font-weight:normal;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:0px solid #337fed;
	padding:4px 12px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(45%, #3d94f6), color-stop(60%, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 45%, #1e62d0 60% );
	background:-ms-linear-gradient( top, #3d94f6 45%, #1e62d0 60% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #1570cd;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	-moz-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	box-shadow:inset 1px 1px 0px 0px #97c4fe;
}.jixu_class:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(45%, #1e62d0), color-stop(60%, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 45%, #3d94f6 60% );
	background:-ms-linear-gradient( top, #1e62d0 45%, #3d94f6 60% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.jixu_class:active {
	position:relative;
	top:1px;
}
.qingkong_class {
	font-size:16px;
	font-family:Arial Black;
	font-weight:normal;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:0px solid #337fed;
	padding:4px 12px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(45%, #3d94f6), color-stop(60%, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 45%, #1e62d0 60% );
	background:-ms-linear-gradient( top, #3d94f6 45%, #1e62d0 60% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #1570cd;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	-moz-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	box-shadow:inset 1px 1px 0px 0px #97c4fe;
}.qingkong_class:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(45%, #1e62d0), color-stop(60%, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 45%, #3d94f6 60% );
	background:-ms-linear-gradient( top, #1e62d0 45%, #3d94f6 60% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.qingkong_class:active {
	position:relative;
	top:1px;
}

.chaxun_class {
	font-size:16px;
	font-family:Arial Black;
	font-weight:normal;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:0px solid #337fed;
	padding:4px 12px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(45%, #3d94f6), color-stop(60%, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 45%, #1e62d0 60% );
	background:-ms-linear-gradient( top, #3d94f6 45%, #1e62d0 60% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #1570cd;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	-moz-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	box-shadow:inset 1px 1px 0px 0px #97c4fe;
}.chaxun_class:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(45%, #1e62d0), color-stop(60%, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 45%, #3d94f6 60% );
	background:-ms-linear-gradient( top, #1e62d0 45%, #3d94f6 60% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.chaxun_class:active {
	position:relative;
	top:1px;
}
